<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>

	<%= yield :extra_scripts_and_styles %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
