<div id="chart_holder">
  <%= form_tag report_path(@report), :method => :get, :remote => true, :id => "chart_options" do %>
    <%= label_tag :start_time, "Range" %>
    <%= text_field_tag :start_time, @start_time.strftime("%Y/%m/%d"), :size => 12, :class => "calendar" %>
    -
    <%= text_field_tag :end_time, @end_time.strftime("%Y/%m/%d"), :size => 12, :class => "calendar" %>
  <% end %>
  <div id="iw_chart_container"></div>
</div>

<script type="text/javascript" charset="utf-8">
  $(function() {
      <%= render :partial => "line_report", :formats => [:js] %>
  });
</script>
