<div class="show">
	<% if Rails.env.development? %>
		<p>
			<%= link_to "Edit", edit_ab_test_path(@ab_test) %>
			|
			<%= link_to "Delete", @ab_test, :method => :delete, :confirm => "Are you sure?" %>
		</p>
	<% else %>
		<span class="description">No Modifying tests in production</span>
	<% end %>
	
	<h2>I wonder <%= @ab_test.name%>?</h2>
	<p class="description">
		<%= @ab_test.description.present? ? @ab_test.description : "no description..."%>
	</p>
	
	<% if @ab_test.started? %>
		<%= render "show_report" %>
	<% else %>
		<%= render "show_not_started" %>
	<% end %>
	
	
</div>